html{
    margin: 0px;
    padding: 0px;
}
.header {
    background-color: #ffffff;
    padding: 10px;
    margin: -10px;
}

.hero_section{
    padding: 130px 0;
    max-width: 1200px;
    margin:auto;
    background-color: #22222200;
    color: #ffffff;
    text-align: center;
}

.hero_wrapper{
    background-color: #222222;
    margin: 0 -10px;
    background-image: url(./images/pexels-tima-miroshnichenko-5698417.jpg);
    background-size: cover;
    background-position:center;
}

.bg {
    padding: 60px 0;
    margin: auto;
    max-width: 1200px;
    text-align: center;
}

h1,h2,h3,h4,h5,h6 {
    font-family: montserrat;
}

p {
    font-family: lato;
}

.footer {
    background-color: #222222;
    text-align: center;
    color: #ffffff;
    margin: -10px;
    padding: 10px 0;
}